div {
    margin: 0.5em;
}
body {
    margin-left: 7%;
    margin-right: 7%;
}
body, input, button {
    font-family: "Century Gothic",sans-serif;
    font-size: 20pt;
}

.topbrd{
    width :70%;
    display: block;
    margin :auto;
    background-color:rgb(46, 12, 12);
    border-radius: 20px;
    color:whitesmoke;
    padding: 50px;
    
}

.botm{
    
    padding-left: 30px;
    display: inline;

}
#logo{
    padding:20px;  
    width: 25%;
    height: 30%;
}

#validator{
   margin-left: 16%;
   padding-top: 20pt;
   width: 50%;
}
