body{
    color: rgba(38, 157, 161, 0.767);
    /* background-image: url(../image/background.gif); */
    background-repeat: repeat;
    font-size: 18px;
    margin: 80px;
}
.Main{
    border: solid white 10px;
    padding: 4px;
    margin: 5px;
    background-color: white;
}
.Redbrd{
  /* border-style: solid; */
  /* border-color: red ; */
  /* border-width: 5px; */
  /* padding: 1px; */
  text-align: right;
  background-color:#A8F0F0;
  
}
.friends{
     border-style: solid;
     border-color: rgb(15, 134, 134);
     border-width: 4px;
     border-radius: 15px;
     background-color: rgb(97, 223, 223);
     float: left;
     width:16%;
     /* height:50%; */
     position: relative;
}
 .Orgbrd{
     /* border-style: solid;
     border-color: orange;
     border-width: 5px; */
     padding: 5px;
     margin: 5px;
     font-size: 14pt;
 }
 .BlueBrd{
     border-style: solid;
     border-color: #C2E9E9;
     border-width: 4px;
     margin: 5px;
     padding: 5px;
     background-color:rgba(170, 236, 214, 0.399);
     overflow: auto;
     border-radius: 15px;
     margin-left: 200px;;
    
 }
 .Purbrd{
     border-bottom: dashed;
     border-color: rgb(57, 182, 199);
     border-width: 2px;
    
 }
 img{
     float:right;
     
 }
 .container{
     position:relative;
 }
 .pos{
     float: left;
 }